---
layout: page
title: Contact 7ea Customer Success | 7ea
permalink: /contact/
headerTitle:  Contact our Sales Team
headerSubCopy: <h4 class="text-dark">Looking for support?</h4>
headerImage: /img/contact_head.png
---

{% include global-header.html %}


<!-- contact form start -->
<section id="contact-form">
  <div class="container">
    <div id="contact-box" class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <h2>Contact our Friendly Staff Today</h2>
          <form action="/thankyou/" netlify name="contact-form">
            <div class="form-group">
              <label for="contact-name">Your Name</label>
              <input type="text" class="form-control" id="contact-name" name="contact-name" placeholder="Name">
            </div>
         <div class="form-group">
          <label class="styled-label"for="company">Company*</label>
      <input type="text" class="form-control" id="company" name="company" id="company" required="required" maxlength="32768">

   <div class="form-group">
             <label class="styled-label" for="phone">Phone number</label>
<input type="text" class="form-control" name="phone" id="phone" maxlength="32768">
        
<div class="form-group">
              <label for="contact-email">Email*</label>
              <input type="email" class="form-control" id="contact-email" name="contact-email" placeholder="Email">
            </div>
            <div class="form-group">
              Send us a message*
              <textarea class="form-control" rows="3"></textarea>
            </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" required> I'm not a robot..
                </label>

  </div>
            </div>
            <button type="submit" class="btn btn-default">Send</button>
          </form>
        </div>

      </div>
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <div class="block">
            <h2>Upgrade to Premium Support

Get help fast with 24×7 support for critical issues from our premium support escalation team. In addition, non-critical requests from premium support customers receive escalated priority.

</h2>
            <ul class="address-block">
              <li>
                <i class="fa fa-map-marker"></i>{{site.data.business.address_full}}
              </li>
              <li>
                <i class="fa fa-envelope-o"></i>Email: {{site.data.business.email_primary}}
              </li>
              <li>
                <i class="fa fa-phone"></i>Phone: {{site.data.business.phone_primay}}
              </li>
            </ul>

            <p>
              <ul class="social-icons">
                {% for item in site.data.social_media %}
                <li>
                  <a href="{{item.link}}" title="{{item.name}}"><i class="fa {{item.icon}}"></i></a>
                </li>
                {% endfor %}
              </ul>
            </p>

          </div>
            <div class="google-map">
              <iframe src="https://www.google.com/maps/embed/v1/place?key={{site.data.business.google_maps_api_key}}&q={{ site.data.business.address_full | url_encode }}" width="555" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include call-to-action.html %}
