<!-- footer Start -->
<footer>
  <link rel="stylesheet" media="all" href="https://www3.assets.heroku.com/assets/application-cc51d79376dc9cb535f4791dd36cdf740d40fa87000b91b34d29cd9d12543bce.css"> 
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            {% for item in site.data.menu.top %}
              <li><a href="{{ site.baseurl }}{{item.path}}">{{item.text}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <p>Call us anytime at <strong>{{site.data.business.phone_primay}}</strong><br>
        Or vist us at <a href="http://maps.google.com/?q={{site.data.business.address_full | url_encode}}">{{site.data.business.address_full}}</a></p>
      </div>
    </div>
  </div>
</footer>
